<!DOCTYPE html>
<html lang="en">
    <head>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <form method="POST" action="postUser">
            <div class="form-group"  >
                <table border="0">
                    <tr>
                        <td>
                            FirstName
                        </td>
                        <td >
                            <input type=text name="firstName" /><br/><br/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            LastName
                        </td>
                        <td>
                            <input type=text name="lastName" /><br/><br/>                                        
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Contact
                        </td>
                        <td>
                            <input type=text name="contact" /><br/><br/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Email
                        </td>
                        <td>
                            <input type=email name="email" />                            
                        </td>
                    </tr>
                </table>                                                                                                
                <input lcass="btn btn-primary" type="submit" value="Submit">
            </div>
        </form>
    </body>
</html>